<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>jkfenner</title>
</head>

<body><table width="1156" height="218" border="1">
  <tbody>
    <tr>
      <td width="294" height="81" rowspan="2">&nbsp;</td>
      <td width="400" height="20">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;FORM GSTIN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  [RULE 7,Sec31]<br></td>
      <td width="308">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>TAX INVOICE</strong></td>
    </tr>
    <tr>
      <td height="63"><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; J.K.FENNER(INDIA) Limited&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NO.3,Madurai-Melakkai Road,Kochadai,</p>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;MADURAi-625016. </p></td>
      <td width="308"><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>ORIGINAL</strong></p>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;FOR&nbsp; RECIPENT</p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td height="32"> 0452-4283800,4283863 faxno:0452-4283850.</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; E-mail:filmdu@jkfenner.com&nbsp; </td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;website: www.mhi-ipt.in&nbsp; &nbsp; </td>
    </tr>
    <tr>
      <td height="28"><strong> 4231TN1992PLC062306</strong></td>
      <td>&nbsp;<strong> &nbsp;GSTIN:33AAACJ7230N1ZJ</strong>&nbsp;</td>
      <td><strong> PAN:AAACJ7230N</strong>&nbsp;</td>
    </tr>
    <tr>
      <td height="22" colspan="2">&nbsp;</td>
      <td height="22">&nbsp; E-WAY BILL No:</td>
    </tr>
  </tbody>
</table>
<table width="1157" border="1">
  <tbody>
    <tr>
      <td width="523" height="30">&nbsp; NV.SL.No.  1002671163 </td>
      <td width="618"> SAP INVOICE No.:  1002671163&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; DATE: 11.10.2018</td>
    </tr>
    <tr>
      <td height="29"> f Receiver (Biller to)&nbsp; &nbsp; &nbsp; &nbsp; 410185 </td>
      <td>Details of Consignee (Shipped to) </td>
    </tr>
    <tr>
      <td height="80"><p>Name&nbsp; &nbsp;:TRACTOR &amp; FARM EQUIPMENT LTD<br>
        Address:10/205 KALLADIPATTI P.O;<br>DINDIGUK DISTRICT:624201
        state:Tamil nadu
        state code: 33
        GSTIN No.;33AAACT2761Q1Z1<br>
		  Vendor code:DJ0105

      <td><p> Name:<br>Address:<br>State:<br>State code:<br>GSTIN No.:&nbsp;  </p></td><td height="80"><p>
    </tr>
    <tr>
      <td height="31">orderno:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;172628&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;11.10.2018</td>
      <td>Purchase Order No. :&nbsp; &nbsp;1030000771&nbsp; &nbsp; </td>
    </tr>
  </tbody>
</table>
<table width="1157" border="1">
  <tbody>
    <tr>
      <td>heading</td>
    </tr>
  </tbody>
</table>
<table width="1157" border="1">
  <tbody>
    <tr >
      <td width="55" height="25"><p><strong> S.No</strong>. </p></td>
      <td width="563">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> &nbsp;SIZE&nbsp; &amp; DESCRIPTION OF GOODS</strong></td>
      <td width="85">
&nbsp; &nbsp; &nbsp; QTY.</td>
      <td width="63"><p> &nbsp;UOM</p></td>
      <td width="173"><strong></strong> &nbsp; &nbsp; &nbsp;RATE PER UNIT<br>
&nbsp; &nbsp; &nbsp; &nbsp; <br>
&nbsp; &nbsp; &nbsp; &nbsp; Rs.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ps. </td>
      <td width="178"><p>&nbsp;</p>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TOTAL </p>
      <p> &nbsp; &nbsp; &nbsp; &nbsp;RS.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ps. </p>        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td height="201">&nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TRANSMISSION RUBBER BELTS <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;POWER FLEX<br>
051-TW1245<br>
021M01<br></td>
      <td><p> &nbsp; &nbsp; &nbsp;200</p>        <p>&nbsp;&nbsp;</p></td>
      <td><p> &nbsp; &nbsp;PC </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p></td>
      <td><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;70.51 </p>
        <p>&nbsp;</p>
      <p>&nbsp;</p></td>
      <td><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;14,102.00</p>        </p></td>
    </tr>
    <tr>
      <td height="28">&nbsp;</td>
      <td>&nbsp;</td>
      <td> 200 </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;14,102.00</td>
    </tr>
  </tbody>
</table>
<table width="1157" border="1">
  <tbody>
    <tr>
      <td height="38" colspan="6">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; INSURANCE Rs.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Packing &amp; Forwarding:Rs.</td>
      <td width="179" rowspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td width="43" height="25">&nbsp;</td>
      <td width="39">%</td>
      <td width="218">TOD:&nbsp; &nbsp; &nbsp; &nbsp;0.00 </td>
      <td width="170">CD:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;0.000 </td>
      <td width="208">OTHERS:&nbsp; &nbsp; 0.00 </td>
      <td width="254">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Rs.: </td>
      <td>TOD: </td>
      <td>CD:</td>
      <td>OTHERS: </td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="1156" border="1">
  <tbody>
    <tr>
      <td width="723" rowspan="3" style="vertical-align: top;
  text-align: left;"> Name:<br><br>/Rail Way Bill No.:&nbsp;&nbsp;&nbsp;&nbsp;Date &Time:   11.10.2018<br> Weight:  32.400 No.of Bundles: 2<br>DINGUL DISTRICT Name of the State:<br>Supply: &nbsp;</td>
      <td height="29" colspan="2">&nbsp; &nbsp; TAXABLE VALUE </td>
      <td width="227" rowspan="3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 14,102.00<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1269.18<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1269.18 </td>
    </tr>
    <tr>
      <td height="28" colspan="2">&nbsp; &nbsp; RATE OF TAX&nbsp; %</td>
    </tr>
    <tr>
      <td height="109">&nbsp;CGST<BR>&nbsp;SGST<BR>&nbsp;IGST/UGST</td>
      <td width="89" rowspan="0">&nbsp; &nbsp; &nbsp;9.00<br>
&nbsp; &nbsp; &nbsp; 9.00</td>
    </tr>
    <tr>
      <td width="723" height="45">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; OF TAX SUBJECT TO REVERSE CHARGES </td>
      <td width="89">CGST<BR>SGST<BR>IGST/UGST </td>
    </tr>
    <tr>
      <td height="32">1.Term and conditions of this sales given overleaf.<br>2.Certified that the Particular given above are true and correct. </td>
      <td colspan="2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;TOTAL<br> Invoice value in figure </td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 16640.36</td>
    </tr>
  </tbody>
</table>
<table width="1154" height="123" border="1">
  <tbody>
    <tr>
      <td height="51" colspan="2">Voice Value in Words:<br>SIXTEEN THOUSAND SIX HUNDRED FORTY AND PAISE THIRTY-SIX ONLY</td>
    </tr>
    <tr>
      <td width="878"> 144&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 336351<BR>10&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 16.20</td>
      <td width="260"rowspan="3" style="vertical-align: top;
  text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;for  J.K.Fenner (india)Ltd.,</td>
    </tr>
  </tbody>
</table>

</body>
</html>
