<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Jka4</title>
</head>
<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}</style>

<body style=font-size:8pt; ><page size="A4"><table width="795" height="" border="1">
  <tbody>
    <tr>
      <td width="237" height="60" rowspan="2"><img src="j-k-fenner-india-ltd-arasaradi-madurai-v-belt-dealers-1d679is.jpg" width="120" height="50" alt=""/></td>
      <td width="234" height="20">&nbsp;FORM GSTIN  [RULE7,Sec31]<br></td>
      <td width="301">&nbsp; &nbsp;&nbsp; <strong>TAX INVOICE</strong></td>
    </tr>
    <tr>
      <td height="63"><p>J.K.FENNER(INDIA) Limited&nbsp; <br>
        NO.3,Madurai-Melakkai Road,&nbsp; &nbsp;&nbsp;Kochadai,MADURAi-625016. </p></td>
      <td width="301"><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>ORIGINAL </strong>FOR&nbsp;  RECIPENT</p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td height="32"> 0452-4283800,4283863 faxno:0452-4283850.</td>
      <td> E-mail:filmdu@jkfenner.com&nbsp; </td>
      <td> website: www.mhi-ipt.in&nbsp; &nbsp; </td>
    </tr>
    <tr>
      <td height="28"><strong> 4231TN1992PLC062306</strong></td>
      <td>&nbsp;<strong>GSTIN:33AAACJ7230N1ZJ</strong>&nbsp;</td>
      <td><strong> PAN:AAACJ7230N</strong>&nbsp;</td>
    </tr>
    <tr>
      <td height="22" colspan="2">&nbsp;</td>
      <td height="22"> E-WAY BILL No:</td>
    </tr>
  </tbody>
</table>
<table width="795" border="1">
  <tbody>
    <tr>
      <td width="365" height="21"> INV.SL.No.  1002671163 </td>
      <td width="378"> SAP INVOICE No.:  1002671163&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; DATE: 11.10.2018</td>
    </tr>
    <tr>
      <td height="23">  Receiver (Biller to)&nbsp; &nbsp; &nbsp; &nbsp; 410185 </td>
      <td>Details of Consignee (Shipped to) </td>
    </tr>
    <tr>
      <td height="80"><p>Name&nbsp; &nbsp;:TRACTOR &amp; FARM EQUIPMENT LTD<br>
        Address:10/205 KALLADIPATTI P.O;<br>DINDIGUK DISTRICT:624201
        state:Tamil nadu
        state code: 33
        GSTIN No.;33AAACT2761Q1Z1<br>
		  Vendor code:DJ0105

      <td><p> Name: TATA MOTORS Limited<br>
        Address:<br>
        State:<br>
        State code:<br>
      GSTIN No.:&nbsp; </p></td>
    <tr>
      <td height="26">orderno:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;172628&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;11.10.2018</td>
      <td>Purchase Order No. :&nbsp; &nbsp;1030000771&nbsp; &nbsp; </td>
    </tr>
  </tbody>
</table>
<table width="795" border="1">
  <tbody>
    <tr>
      <td> chapter heading</td>
    </tr>
  </tbody>
</table>
<table width="795" border="1">
  <tbody>
    <tr height="" >
      <td width="40" height=""><p><strong> S.No</strong>. </p></td>
      <td width="342">&nbsp; &nbsp; &nbsp;<strong>SIZE&nbsp; &amp; DESCRIPTION OF GOODS</strong></td>
      <td width="36">
     QTY.</td>
      <td width="54"><p> &nbsp;  UOM</p></td>
      <td width="98"><strong></strong> &nbsp;RATE PER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; UNIT<br>
&nbsp; &nbsp; &nbsp; &nbsp; <br>
&nbsp; Rs.&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Ps. </td>
      <td width="142"><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TOTAL </p>
      <p> &nbsp; &nbsp; &nbsp; &nbsp;RS.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ps. </p></td>
    </tr>
    <tr>
      <td height="10"><p>&nbsp;</p>
        <p>1. </p>        <p>&nbsp; &nbsp; &nbsp; </p></td>
      <td> TRANSMISSION RUBBER BELTS
POWER FLEX<br>
051-TW1245<br>
021M01<br></td>
      <td><p> &nbsp;&nbsp;200</p>        <p>&nbsp;&nbsp;</p></td>
      <td><p>&nbsp;</p>
        <p> &nbsp; &nbsp;PC </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p></td>
      <td><p>&nbsp;</p>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 70.51 </p>
        <p>&nbsp;</p>
      <p>&nbsp;</p></td>
      <td><p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;14,102.00</p>        </p></td>
    </tr>
    <tr>
      <td height="22">&nbsp;</td>
      <td>&nbsp;</td>
      <td> 200 </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;14,102.00</td>
    </tr>
  </tbody>
</table>
<table width="795" border="1">
  <tbody>
    <tr>
      <td height="10" colspan="6">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; INSURANCE Rs.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Packing &amp; Forwarding:Rs.</td>

    </tr>
    <tr>
      <td width="33" height="25">&nbsp;</td>
      <td width="34">%</td>
      <td width="175">TOD:&nbsp; &nbsp; &nbsp; &nbsp;0.00 </td>
      <td width="138">CD:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;0.000 </td>
      <td width="171">OTHERS:&nbsp; &nbsp; 0.00 </td>
      <td width="160">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Rs.: </td>
      <td>TOD: </td>
      <td>CD:</td>
      <td>OTHERS: </td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="795" border="1">
  <tbody>
    <tr>
      <td width="474" rowspan="3" style="vertical-align: top;
  text-align: left;"> Name:<br>/Rail Way Bill No.:&nbsp;&nbsp;&nbsp;&nbsp;Date &Time:   11.10.2018<br> Weight:  32.400 No.of Bundles: 2<br>DINGUL DISTRICT Name of the State:<br>
      Supply:</td>
      <td height="29" colspan="2">&nbsp; &nbsp; TAXABLE VALUE </td>
      <td width="134" rowspan="3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 14,102.00<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1269.18<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1269.18</td>
    </tr>
    <tr>
      <td height="28" colspan="2">&nbsp; &nbsp; RATE OF TAX&nbsp; %</td>
    </tr>
    <tr>
      <td height="109">&nbsp;CGST<BR>&nbsp;SGST<BR>&nbsp;IGST/UGST</td>
      <td width="62" rowspan="0">  &nbsp; &nbsp; &nbsp;9.00<br>
&nbsp; &nbsp; &nbsp;9.00</td>
    </tr>
    <tr>
      <td width="474" height="45">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; OF TAX SUBJECT TO REVERSE CHARGES </td>
      <td width="72">CGST<BR>SGST<BR>IGST/UGST </td>
    </tr>
    <tr>
      <td>1.Term and conditions of this sales given overleaf.<br>2.Certified that the Particular given above are true and correct. </td>
      <td colspan="2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;TOTAL<br> Invoice value in figure </td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 16640.36</td>
    </tr>
  </tbody>
</table>
<table width="795" height="" border="1">
  <tbody>
    <tr>
      <td height="29" colspan="2">Voice Value in Words: SIXTEEN THOUSAND SIX HUNDRED FORTY AND PAISE THIRTY-SIX ONLY</td>
    </tr>
    <tr>
      <td width="878" height="62"> 144&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;      &nbsp; 336351<BR>10&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 16.20</td>
      <td width="260"rowspan="3" style="vertical-align: top;
  text-align: left;">&nbsp;    for  J.K.Fenner (india)Ltd.,</td>
    </tr>
  </tbody>
</table>
    </tbody>
    </table>
</html>
